= form_tag '/admin', class: 'form form-inline' do

  = error_messages_for :admin

  .form-group
    = label_tag 'Umbral'
    = text_field_tag :umbral, value: Configuracion.umbral, class: 'form-control'

  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header Grd
        %th.header Nombre
        %th.header Observaciones
        %th.header Cero
        %th.header Escala

    %tbody
      - @aparatos.each do |a|
        %tr.list-row
          %td.list-column
            = text_field_tag 'aparatos[][grd]', value: a.grd, class: 'form-control'
            = hidden_field_tag 'aparatos[][id]', value: a.id
          %td.list-column
            = text_field_tag 'aparatos[][nombre]', value: a.nombre, class: 'form-control'
          %td.list-column
            = text_field_tag 'aparatos[][observaciones]', value: a.observaciones, class: 'form-control'
          %td.list-column
            = text_field_tag 'aparatos[][cero]', value: a.cero, class: 'form-control'
          %td.list-column
            = text_field_tag 'aparatos[][escala]', value: a.escala, class: 'form-control'

  = submit_tag 'Guardar', class: 'btn btn-primary'
